<?xml version="1.0" encoding="UTF-8"?>  
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">  
    
  <servlet> 
    <display-name>LoginServlet</display-name>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.LoginServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping>  
  <servlet> 
    <display-name>LoadServlet</display-name>  
    <servlet-name>LoadServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.LoadServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LoadServlet</servlet-name>  
    <url-pattern>/LoadServlet</url-pattern>  
  </servlet-mapping>  
  <servlet> 
    <display-name>RegisterUserServlet</display-name>  
    <servlet-name>RegisterUserServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.RegisterUserServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>RegisterUserServlet</servlet-name>  
    <url-pattern>/RegisterUserServlet</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>NewUserServlet</display-name>  
    <servlet-name>NewUserServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.NewUserServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>NewUserServlet</servlet-name>  
    <url-pattern>/NewUserServlet</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>PrintUsersServlet</display-name>  
    <servlet-name>PrintUsersServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.PrintUsersServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>PrintUsersServlet</servlet-name>  
    <url-pattern>/PrintUsersServlet</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>ServletUtilities</display-name>  
    <servlet-name>ServletUtilities</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.ServletUtilities</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ServletUtilities</servlet-name>  
    <url-pattern>/ServletUtilities</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>UserInfoServlet</display-name>  
    <servlet-name>UserInfoServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.UserInfoServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>UserInfoServlet</servlet-name>  
    <url-pattern>/UserInfoServlet</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>ExampleAPI</display-name>  
    <servlet-name>ExampleAPI</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.ExampleAPI</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ExampleAPI</servlet-name>  
    <url-pattern>/ExampleAPI</url-pattern>  
  </servlet-mapping> 
   <servlet> 
    <display-name>DeletePostServlet</display-name>  
    <servlet-name>DeletePostServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.DeletePostServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>DeletePostServlet</servlet-name>  
    <url-pattern>/DeletePostServlet</url-pattern>  
  </servlet-mapping> 
  <servlet> 
    <display-name>DeleteProfileServlet</display-name>  
    <servlet-name>DeleteProfileServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.DeleteProfileServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>DeleteProfileServlet</servlet-name>  
    <url-pattern>/DeleteProfileServlet</url-pattern>  
  </servlet-mapping>
   <servlet> 
    <display-name>HomeServlet</display-name>  
    <servlet-name>HomeServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.HomeServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>HomeServlet</servlet-name>  
    <url-pattern>/HomeServlet</url-pattern>  
  </servlet-mapping>
  <servlet> 
    <display-name>NewPostServlet</display-name>  
    <servlet-name>NewPostServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.NewPostServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>NewPostServlet</servlet-name>  
    <url-pattern>/NewPostServlet</url-pattern>  
  </servlet-mapping>
  <servlet> 
    <display-name>PostDetailsServlet</display-name>  
    <servlet-name>PostDetailsServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.PostDetailsServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>PostDetailsServlet</servlet-name>  
    <url-pattern>/PostDetailsServlet</url-pattern>  
  </servlet-mapping>
  <servlet> 
    <display-name>UserProfileServlet</display-name>  
    <servlet-name>UserProfileServlet</servlet-name>  
    <servlet-class>gr.csd.uoc.cs359.winter2018.warp.UserProfileServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>UserProfileServlet</servlet-name>  
    <url-pattern>/UserProfileServlet</url-pattern>  
  </servlet-mapping>
  
</web-app>  